<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <form name="registerForm" class="form-horizontal" novalidate>
            <fieldset>
                <legend>Login</legend>

                <!-- Email -->
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-9">
                        <input type="email" ng-model="user.username" required 
                            ng-focus="emailFocus=true" ng-blur="emailFocus=false"
                            class="form-control" name="email" placeholder="Email">
                        <div ng-show="registerForm.email.$invalid && (registerForm.email.$dirty 
                            || emailFocus)"  
                            class="alert alert-info">
                            <p>Enter a valid email address.</p>
                        </div>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                        <input type="password" ng-model="user.password" required 
                            ng-focus="passwordFocus=true" ng-blur="passwordFocus=false"
                            class="form-control" name="password" placeholder="Password">
                        <div ng-show="registerForm.password.$invalid && (registerForm.password.$dirty 
                          || passwordFocus)"  
                          class="alert alert-info">
                            <p>Enter a password.</p>
                        </div>
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3 clearfix">
                        <button ng-click="ctrl.login(user, registerForm)"
                                ng-disabled="registerForm.$invalid"
                                class="btn btn-primary pull-right">
                            Submit
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>