
<div class="page">
  <div class="wrapper">
    <h2 ng-bind="ctrl.pageTitle"></h2>
  </div>
  <div class="content">
    <div class="wrapper">
      <div class="current-route"><span ng-bind-html="ctrl.pageRoute"></span></div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="widget">
            <div class="well">
              <form name="loginForm" method="post" class="form-horizontal">
                <fieldset>
                  <legend><span class="fa fa-sign-in"></span> Login Form</legend>
                  <!-- Username-->
                  <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Username</label>
                    <div class="col-md-9">
                      <input type="text" ng-model="user.username" required="required" ng-focus="usernameFocus=true" ng-blur="usernameFocus=false" name="username" placeholder="Username" class="form-control"/>
                    </div>
                  </div>
                  <!-- Password-->
                  <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                      <input type="password" ng-model="user.password" required="required" ng-focus="passwordFocus=true" ng-blur="passwordFocus=false" name="password" placeholder="Password" class="form-control"/>
                    </div>
                  </div>
                  <!-- Submit-->
                  <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3 clearfix">
                      <button ng-click="ctrl.login(user, loginForm)" ng-disabled="loginForm.$invalid" class="btn btn-quiz pull-right">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
              <hr/>
              <p class="text-right">Need an account? <a href="/register">Signup</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>