footer.footer-base.container-fluid
  .illumination
  section.description.row.wrapper
    article.col-md-4.footer-article(ng-repeat='article in mainCtrl.footerContent')
      h3(ng-bind='article.title')
      p(ng-bind='article.content')

  nav.wrapper: .container-fluid
    ul.nav.navbar-nav
      li: a.home-link(href='#/') Home

      li: li: a(href='') Features
      li: li: a(href='') Themes
      //li: a(href='#') Quizzes
      //li: a(href='#') About
      li: a(href='#/login' ng-if='!mainCtrl.currentUserGlobal') Login
      li: a(href='#/register' ng-if='!mainCtrl.currentUserGlobal') Join Today
      li: a(href='#/users') Users
      //li: a(href='#') Location
    ul.nav.navbar-nav.navbar-right(ng-if='mainCtrl.currentUserGlobal')
      li: a(href='#/me' ng-bind='mainCtrl.currentUserGlobal.firstName')
      li: a(href='#/' ng-click='mainCtrl.logut()') Logout