header.wrapper
  #logo: img(src='images/logo.png', alt='logo')

  nav.navbar.navbar-inverse: .container-fluid
    .navbar-header

      button.navbar-toggle.collapsed(
      data-toggle='collapse',
      data-target='#main-nav',
      aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    #main-nav.navbar-collapse.collapse(aria-expanded='false' style='height: 0.8px;')
      ul.nav.navbar-nav
        li: a.home-link(href='#/') Home

        li.dropdown
          a.dropdown-toggle(href='') Features

          ul.dropdown-menu.drop-shadow(role='menu')
            li: a.home-link(href='#/') Home
            li: a(href='') Themes
            li: a(href='') Features
            li: a(href='') About
            li: a(href='#/quizzes') Quizzes

        li.dropdown
          a.dropdown-toggle(href='') Themes

          ul.dropdown-menu(role='menu')
            li: a(href='') Black
            li: a(href='') Green
            li: a(href='') Purple
            li: a(href='') Red
        li: a(href='#/quizzes') Quizzes
        //li: a(href='#') About
        li: a(href='#/login' ng-if='!mainCtrl.currentUserGlobal') Login
        li: a(href='#/register' ng-if='!mainCtrl.currentUserGlobal') Join Today
        li: a(href='#/users') Users
        //li: a(href='#') Location
      ul.nav.navbar-nav.navbar-right(ng-if='mainCtrl.currentUserGlobal')
        li: a(href='#/me' ng-bind='mainCtrl.currentUserGlobal.firstName')
        li: a(href='#/' ng-click='mainCtrl.logut()') Logout