//script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js', type='text/javascript')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js', type='text/javascript')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.min.js', type='text/javascript')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-messages.min.js', type='text/javascript')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-resource.min.js', type='text/javascript')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js', type='text/javascript')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-sanitize.min.js', type='text/javascript')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-touch.min.js', type='text/javascript')
//script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', type='text/javascript')

// build:js scripts/scripts.min.js
// Libs and Frameworks
script(src="libs/jquery/dist/jquery.js", type="text/javascript")
script(src="libs/angular/angular.js", type="text/javascript")
// include: "type": "js", "files": "<%= dev.libs %>"
script(src="libs/angular-animate/angular-animate.js", type="text/javascript")
script(src="libs/angular-bootstrap/ui-bootstrap-tpls.js", type="text/javascript")
script(src="libs/angular-bootstrap/ui-bootstrap.js", type="text/javascript")
script(src="libs/angular-cookies/angular-cookies.js", type="text/javascript")
script(src="libs/angular-local-storage/dist/angular-local-storage.js", type="text/javascript")
script(src="libs/angular-messages/angular-messages.js", type="text/javascript")
script(src="libs/angular-resource/angular-resource.js", type="text/javascript")
script(src="libs/angular-route/angular-route.js", type="text/javascript")
script(src="libs/angular-sanitize/angular-sanitize.js", type="text/javascript")
script(src="libs/angular-slick/dist/slick.js", type="text/javascript")
script(src="libs/angular-touch/angular-touch.js", type="text/javascript")
script(src="libs/bootstrap.js", type="text/javascript")
script(src="libs/ngstorage/ngStorage.js", type="text/javascript")
script(src="libs/ngstorage/package.js", type="text/javascript")
script(src="libs/slick-carousel/slick/slick.js", type="text/javascript")
// /include

// app scripts
// include: "type": "js", "files": "<%= dev.scripts %>"
script(src="scripts/app.js", type="text/javascript")
script(src="scripts/common/paging-filter.js", type="text/javascript")
script(src="scripts/common/single-article-directive.js", type="text/javascript")
script(src="scripts/common/single-item-directive.js", type="text/javascript")
script(src="scripts/controllers/main-controller.js", type="text/javascript")
script(src="scripts/home/home-controller.js", type="text/javascript")
script(src="scripts/identity/auth-service.js", type="text/javascript")
script(src="scripts/identity/identity-service.js", type="text/javascript")
script(src="scripts/identity/login-controller.js", type="text/javascript")
script(src="scripts/identity/register-conroller.js", type="text/javascript")
script(src="scripts/quizzes/add-question-controller.js", type="text/javascript")
script(src="scripts/quizzes/create-quiz-controller.js", type="text/javascript")
script(src="scripts/quizzes/quiz-data-service.js", type="text/javascript")
script(src="scripts/quizzes/quizzes-controller.js", type="text/javascript")
script(src="scripts/quizzes/result-controller.js", type="text/javascript")
script(src="scripts/quizzes/solve-quiz-controller.js", type="text/javascript")
script(src="scripts/quizzes/update-quiz-controller.js", type="text/javascript")
script(src="scripts/user/profile-controller.js", type="text/javascript")
// /include
// /build