link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

// build:css styles/style.min.css
// include: "type": "css", "files": "<%= dev.css %>"
link(href="libs/angular-bootstrap/ui-bootstrap-csp.css", rel="stylesheet", type="text/css")
link(href="libs/angular-toggle-switch/angular-toggle-switch-bootstrap.css", rel="stylesheet", type="text/css")
link(href="libs/angular-toggle-switch/angular-toggle-switch.css", rel="stylesheet", type="text/css")
link(href="libs/angular/angular-csp.css", rel="stylesheet", type="text/css")
link(href="libs/bootstrap/dist/css/bootstrap-theme.css", rel="stylesheet", type="text/css")
link(href="libs/bootstrap/dist/css/bootstrap.css", rel="stylesheet", type="text/css")
link(href="libs/ngToast/dist/ngToast-animations.css", rel="stylesheet", type="text/css")
link(href="libs/ngToast/dist/ngToast.css", rel="stylesheet", type="text/css")
link(href="libs/slick-carousel/slick/slick-theme.css", rel="stylesheet", type="text/css")
link(href="libs/slick-carousel/slick/slick.css", rel="stylesheet", type="text/css")
link(href="styles/index.css", rel="stylesheet", type="text/css")
// /include
// /build