.page-wrapper: h2 {{ctrl.pageTitle}}

.content
 .page-wrapper
   .current-route: span(ng-bind-html='ctrl.pageRoute')

   .container-fluid.clearfix

     // Main Content
     .page-content.pull-left
       section(ng-include='ctrl.mainContentTemplate')

     // Side Content
     .sidebar.pull-right
       aside(ng-include='ctrl.sidebarTemplate')