single-article(article-image='{{user.avatarUrl || mainCtrl.defaultAvatar}}')
   h4.sub-title(transclude-to='article-header')
      | {{user.username || user.email || user.lastName}} registered on
      span  {{user.registeredOn | date}}

   ul.list-group(transclude-to='article-content')
      li.list-group-item
         label Username:
         span  {{user.username}}
      li.list-group-item
         label First Name:
         span  {{user.firstName}}
      li.list-group-item
         label  Last Name:
         span  {{user.lastName}}
      li.list-group-item(ng-if='user.email')
         label Email:
         span: a(href='mailto:{{user.email}}') {{user.email}}