single-article(article-image='{{user.avatarUrl || ctrl.defaultAvatar}}')
   h4.sub-title(transclude-to='article-header')
      | {{user.username}} registered on
      span {{user.registeredOn | date}}

   ul.list-group(transclude-to='article-content')
      li.list-group-item Username:
         span.badge {{user.username}}
      li.list-group-item First Name:
         span.badge {{user.firstName}}
      li.list-group-item Last Name:
         span.badge {{user.lastName}}
      li.list-group-item Email:
         span.badge {{user.email}}