<div class="container quizzes">

	<!-- Main Container	 -->
	<div class="row box-shadow clearfix">
			
		<a role="button" class="left carousel-control"
			ng-click="ctrl.prevPage()">
		    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">previous</span>
		</a>

		<!-- Main Display -->
		<div class="col-md-9 main-wrapper">

			<!-- Paging and Heading -->
			<div class="text-center clearfix paging">
					<uib-pagination class="pagination-sm box-shadow"
						rotate="false"
						max-size="10"
						direction-links="false"
						total-items="$storage.length" 
						items-per-page="ctrl.questionsPerPage"
						ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()">
					</uib-pagination>
			</div>

			<div class="quizzes-container row text-shadow chalk">
				<div class="flip-container" ng-class="{flip: pageFlip}">
					<div class="flipper">
						<div class="front">
							<header class="row">
								<h1 class="chalk quiz-title">
									<span class="col-md-4">{{quiz.title}}</span></h1>
							</header>
							<p class="col-md-offset-1 chalk lead quiz-description">
									<em>{{quiz.description || "No Description"}}</em></p>
							
							<section class="row">
								<!-- Left -->
								<div class="left-side col-lg-5 quiz-details clearfix">
									<div class="row">
										<label class="col-md-6 text-right">Category</label>
										<p class="col-md-6 text-left">{{quiz.category}}</p>
									</div>
									<div class="row">
										<label class="col-md-6">Created on</label>
										<p class="col-md-6">{{quiz.createdOn | date:'dd MMMM yyyy'}}</p>
									</div>
									<div class="row">
											<label class="col-md-6">Created by</label>
											<p class="col-md-6">{{quiz.createdBy}}</p>
										</div>	
								</div>

								<!-- Right -->
								<div class="right-side col-lg-7 quiz-details clearfix">
									<div class="row">
										<label class="col-md-5"
											ng-mouseover="questionsTooltipVisible=true"
											ng-mouseleave="questionsTooltipVisible=false">Questions</label>
										<p class="col-md-6">{{quiz.questions.length}}</p>
										<div ng-show="questionsTooltipVisible" class="col-md-12 quiz-tip box-shadow">
											<h4 class="text-left">Questions: </h4>
											<p ng-repeat="question in quiz.questions | limitTo: 5"
												class="hide-overflow">
												{{question.title}}
											</p>
											<p ng-if="quiz.questions.length > 5">...</p>
										</div>
									</div>
									<div class="row">
										<label class="col-md-5">Rating</label>
										<!-- <p class="col-md-6">{{quiz.rating}}</p> -->
											<uib-rating class="col-md-6"
											ng-model="quiz.rating" max="10"
											ng-click="ctrl.rateQuiz()"
											readonly="!userDetails.userId"
											state-on="'glyphicon-ok-sign'" 
											state-off="'glyphicon-ok-circle'"
											aria-labelledby="default-rating"></uib-rating>
									</div>
									<div class="row">
										<label class="col-md-5">Times completed</label>
										<p class="col-md-6">{{quiz.timesSolved}}</p>
									</div>
								</div>
							</section>
							
							<!-- Quiz Controls -->
							<section class="btn-block col-lg-offset-4 interaction-block">
								<button ng-click="ctrl.solveAlctive()"
									class="btn btn-md btn-success box-shadow">Take this quiz</button>
								<button ng-click="ctrl.editActive()" 
									ng-disabled="userDetails.userId !== quiz.createdById"
									class="btn btn-md btn-warning box-shadow">Edit</button>
								<button ng-click="ctrl.deleteActive()" 
									ng-disabled="userDetails.userId !== quiz.createdById"
									class="btn btn-md btn-danger box-shadow">Delete</button>
							</section>

						</div>
					</div>
				</div>	
			</div>
		</div>

		<div ng-if="!$storage.length" class="container">
			<h2>Quizzes are loading</h2>
		</div>

		<a role="button" class="right carousel-control"
			ng-click="ctrl.nextPage()">
			<span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">next</span>
		</a>
	</div>

	<!-- Search Options -->
	<form class="row well search-options form-vertical box-shadow pull-right" novalidate autocomplete="off">
		<div uib-collapse="isCollapsed" class="row clearfix">
			<!-- Category & Key phrase -->
			<div class="col-md-2">
				<div class="form-group">
					<input type="text" ng-model="ctrl.quizQuery.category" autocomplete="off"
						uib-typeahead="category for category in ctrl.getCategories($viewValue)"
						placeholder="Quiz Category" typeahead-loading="loadingCategories"
						class="form-control" name="category">
				</div>		
				<div class="form-group">
					<input type="text" ng-model="ctrl.quizQuery.keyPhrase" 
						class="form-control" name="keyPhrase" placeholder="Containing phrase">
				</div>
			</div>
  			<!-- Date -->
			<div class="col-md-3">
				<div class="form-group">
					<div class="input-group">
						<input type="text" ng-model="ctrl.quizQuery.fromDate" class="form-control" 
							placeholder="From date"
							uib-datepicker-popup="dd MMMM yyyy" is-open="fromDate.opened" 
							datepicker-options="{startingDay: 1}"  close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="fromDate.opened=true">
								<i class="glyphicon glyphicon-calendar"></i></button>
						</span>
			        </div>
		        </div>
		        <div class="form-group">
		        	<div class="input-group">
						<input type="text" ng-model="ctrl.quizQuery.toDate" class="form-control" 
							placeholder="To date"
							uib-datepicker-popup="dd MMMM yyyy" is-open="toDate.opened" 
							datepicker-options="{startingDay: 1}"  close-text="Close" />
						<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="toDate.opened=true">
							<i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
		        </div>        
			</div>
			<!-- Sliders -->
			<div class="col-md-4">
				<div class="form-group slider clearfix">
					<label for="slider" class="col-md-4">Rating</label>
					<rzslider class="col-md-8"
						rz-slider-model="ctrl.ratingSlider.minValue" 
						rz-slider-high="ctrl.ratingSlider.maxValue" 
						rz-slider-options="ctrl.ratingSlider.options"></rzslider>
				</div>
				<div class="form-group slider clearfix">
					<label for="slider" class="col-md-4">Questions</label>
					<rzslider class="col-md-8"
						rz-slider-model="ctrl.questionsSlider.minValue" 
						rz-slider-high="ctrl.questionsSlider.maxValue" 
						rz-slider-options="ctrl.questionsSlider.options"></rzslider>
				</div>
			</div>	
			<!-- OrderBy -->
			<div class="col-md-3">
				<div class="form-group">
					<div class="btn-group" uib-dropdown is-open="status.isopen" style="width: 100%">
						<a class="btn btn-default col-sm-10" uib-dropdown-toggle	>
							Order by {{ctrl.orderBy.selected.name}}
						</a>
	  					<a class="btn btn-default col-sm-2" uib-dropdown-toggle><span class="caret"></span>
	  					</a>
						<ul class="uib-dropdown-menu col-sm-10" role="menu" aria-labelledby="single-button">
							<li role="menuitem" ng-repeat="option in ctrl.orderOptions">
								<a ng-click="ctrl.orderBy.selected=option; ctrl.quizQuery.orderBy=option.value"
									href="javascript:;">
									{{option.name}}
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group clearfix"> 
					<toggle-switch class="pull-left"
						ng-model="ctrl.quizQuery.orderDescending"
						on-label="desc"
						off-label="asc"></toggle-switch>
					<button class="btn btn-success col-sm-6 pull-right"
						ng-click="ctrl.submitQuery()"
						ng-disabled="queryDissabled">
	                	<i class="glyphicon glyphicon-search"></i> Search
	                </button>
				</div>	
			</div>
		</div>

		<span id="form-toggle" class="btn" ng-click="isCollapsed=!isCollapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
	</form>
</div>