<div class="progress progress-striped">
    <div class="progress-bar" style="width: {{ctrl.progress() + '%'}}"></div>
</div>
<div class="questions-container">
    <div ng-repeat="question in ctrl.quiz.questions | paging:ctrl.currentPage:ctrl.questionsPerPage"
         class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-center">{{question.title}}</h3>
        </div>
        <div class="panel-body list-group">
            <a href ng-repeat="answer in question.answers"
               ng-click="question.selected=$index"
               ng-class="{selected: question.selected === $index}"
               class="list-group-item">
                <span>{{answer.text}}</span>
            </a>
        </div>
    </div>
</div>
<div class="bar text-center clearfix">
    <uib-pagination total-items="ctrl.quiz.questions.length"
                    items-per-page="ctrl.questionsPerPage"
                    direction-links="false"
                    class="questions-paging"
                    ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()">
    </uib-pagination>
    <button ng-disabled="ctrl.progress() < 100"
            ng-click="ctrl.submit(ctrl.quiz)"
            class="btn btn-lg btn-info pull-right">Ready
    </button>
</div>