@import "mix-ins";

// main
@background: #11161c; //#31363B;
@background-blue: rgb(17, 22, 28);
@primary-light: #39434c;
@layout-headings-links: #fff;
@nav-link-hovered: #8d96a0;

//========== THEME INDEPENDENT ===============
@content-article-color: #838383;
@shadow: rgba(0, 0, 0, 0.62);
@carousel-container-bg: #25575e;
@medium-dark: #1f262d;
@articleImageBackground: #c4c4c4;

// Text
@pageText: #a3a3a3;
@pageHeading: white;
@sectionHeading: #505050;
@sideText: #5e5e5e;
.pageTextShadow { text-shadow: 1px 1px 1px white; }
.pageTitleShadow { text-shadow: 1px 1px 1px black; }

// ===========================================

// ======== gradients ============
// Panel
@panel-gradient-start: rgb(62, 72, 82);
@panel-gradient-end: rgb(50, 59, 68);

// Btn
@btn-start-grad: #323a43;
@btn-end-grad: @medium-dark;

.btn-grad {
  background-color: @medium-dark;
  .linear-grad(@colors: @btn-start-grad, @btn-end-grad; @dir: 180deg);
}