script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js', type='text/javascript')

// build:js scripts/scripts.min.js
// include: "type": "js", "files": "<%= dev.scripts %>"
// /build