link(rel='stylesheet', href='http://bootswatch.com/cyborg/bootstrap.min.css')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')

// build:css styles/style.min.css
// include: "type": "css", "files": "<%= dev.css %>"
// /build