link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')

// build:css styles/style.min.css
// include: "type": "css", "files": "<%= dev.css %>"
link(href="styles/home.css", rel="stylesheet", type="text/css")
link(href="styles/main.css", rel="stylesheet", type="text/css")
link(href="libs/angular-bootstrap/ui-bootstrap-csp.css", rel="stylesheet", type="text/css")
link(href="libs/angular/angular-csp.css", rel="stylesheet", type="text/css")
link(href="libs/slick-carousel/slick/slick-theme.css", rel="stylesheet", type="text/css")
link(href="libs/slick-carousel/slick/slick.css", rel="stylesheet", type="text/css")
// /include
// /build